[submodule "iceoryx"]
	path = iceoryx
	url = https://github.com/eclipse/iceoryx.git
[submodule "elBoberido_iceray"]
	path = elBoberido_iceray
	url = https://github.com/LabsRS-Ref/elBoberido_iceray.git
