[submodule "iceoryx"]
	path = iceoryx
	url = https://github.com/eclipse/iceoryx.git
[submodule "elBoberido_iceray"]
	path = elBoberido_iceray
	url = https://github.com/LabsRS-Ref/elBoberido_iceray.git
[submodule "ext-workspaces/swc"]
	path = ext-workspaces/swc
	url = https://github.com/LabsRS-Ref/swc.git
[submodule "ext-workspaces/ian-swift-synx-playground"]
	path = ext-workspaces/ian-swift-synx-playground
	url = https://github.com/LabsRS-Ref/swift-synx-playground.git
